@import "https://fonts.googleapis.com/css?family=Bungee+Shade|Lato:300|Satisfy";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  font-family: "Satisfy", Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: .35em 0 .35em 0; }

h1 {
  font-family: "Bungee Shade", Verdana, sans-serif;
  font-size: 46px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: .5em;
  line-height: 1.2;
  letter-spacing: .75px;
  color: #fff; }

h3 {
  font-family: "Satisfy", Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  color: #fff;
  letter-spacing: .5px; }

.main-tile {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://hd.unsplash.com/photo-1470299067034-07c696e9ef07");
  background-size: cover;
  background-position: center; }
  .main-tile header {
    margin: 0 auto;
    width: 50%;
    color: #fff;
    padding: 5em 5em 8em 5em; }
  .main-tile nav {
    padding: 1.5em 0 1em 0; }
    .main-tile nav .login, .main-tile nav .signup {
      color: #fff;
      background-color: rgba(10, 0, 0, 0.1);
      border: 1px solid #fff;
      padding: 10px;
      width: 50px;
      font-size: 12px;
      font-family: "Lato", Verdana, sans-serif;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: 0;
      display: inline-block;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      position: absolute;
      right: 12em; }
    .main-tile nav .login:hover, .main-tile nav .signup:hover {
      background-color: rgba(1, 0, 0, 0.3); }
    .main-tile nav .signup {
      right: 4em; }

.sign-up-section {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding-top: 10em;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0; }
  .sign-up-section .sign-up-box-main {
    width: 75%;
    margin: 0 auto;
    background: #fff; }
    .sign-up-section .sign-up-box-main .sign-up-box-left {
      display: inline-block;
      width: 40%;
      padding: 1em;
      border-right: 1px solid #000; }
      .sign-up-section .sign-up-box-main .sign-up-box-left .sign-up-box-header {
        font-family: "Lato", Verdana, sans-serif;
        text-align: center;
        font-size: 28px; }
      .sign-up-section .sign-up-box-main .sign-up-box-left .sign-up-list {
        text-align: center;
        padding: 1.5em; }
        .sign-up-section .sign-up-box-main .sign-up-box-left .sign-up-list .sign-up-inputs {
          border-radius: 3px;
          border: 1px solid #dbdbdb;
          padding: 8px 10px;
          width: 90%;
          margin-top: 10px; }
      .sign-up-section .sign-up-box-main .sign-up-box-left .sign-up-box-submit {
        background: #2cb6e9;
        color: #fff;
        border-radius: 3px;
        font-family: "Lato", Verdana, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        width: 75px;
        padding: 10px 22px;
        margin: 0 auto;
        cursor: pointer; }
      .sign-up-section .sign-up-box-main .sign-up-box-left .sign-up-box-submit:hover {
        background-color: #56c4ed; }
    .sign-up-section .sign-up-box-main .sign-up-box-right {
      display: inline-block;
      width: 40%;
      background-image: url("");
      background-size: cover;
      background-position: center;
      padding: 2em; }

.second-tile {
  padding: 1em 0em 4.5em 0em;
  background: linear-gradient(121deg, #0fb9ad 0%, #1fc7dc 51%, #2cb6e9 75%); }
  .second-tile ul {
    margin: 0 auto; }
    .second-tile ul li {
      color: #fff;
      list-style-type: none;
      font-family: "Lato", Verdana, sans-serif;
      letter-spacing: 1.5px;
      font-weight: 300;
      font-size: 24px;
      display: inline-block;
      width: 33%;
      margin: 0;
      text-align: center;
      padding-top: 2em; }
    .second-tile ul img {
      height: 100px;
      width: auto;
      padding-top: 1em; }

.third-tile {
  background-color: #212F4B;
  padding: 6em; }
  .third-tile .header-third {
    margin-bottom: .75em;
    font-size: 32px;
    color: #fff; }
  .third-tile .signup-two {
    font-family: "Lato", Verdana, sans-serif;
    border: 1px solid #1fc7dc;
    color: #F7F7F7;
    padding: 12px;
    width: 70px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto; }
  .third-tile .signup-two:hover {
    background-color: #1fc7dc;
    color: #F7F7F7; }

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://hd.unsplash.com/photo-1472035846169-06348f2377fa");
  background-size: cover;
  background-position: center;
  font-family: "Lato", Verdana, sans-serif;
  color: #F7F7F7;
  padding: 1.5em; }
  footer ul li {
    display: inline-block;
    padding: 1em; }

/*# sourceMappingURL=index.css.map */
