<div id="home-main">

  <div class="main-tile">
    <nav>
      <div class="login">Log in</div>
      <div class="signup" ng-click="signUp()">Sign up</div>
    </nav>

    <header>
      <h2>Welcome to</h2>
      <h1>Tri-Cycle</h1>
      <h3>A local community geared for NC bicyclists.</h3>
    </header>
  </div>

  <div class="second-tile">
    <ul>
      <li>Meet other cyclists<br><img src="assets/icons/png/men-shaking-hands.png"/></li>
      <li>Plan rides<br><img src="assets/icons/png/calendar.png"/></li>
      <li>Sell/trade gear<br><img src="assets/icons/png/transport.png"/></li>
    </ul>
  </div>

  <div class="third-tile">
    <div>
      <h2 class="header-third">Be part of the community</h2>
      <div class="signup-two" ng-click="signUp()">Join now</div>
    </div>
  </div>

  <footer>
    <ul>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </footer>

</div>
